.container,
.container1255px {
  width: 100%;
  margin: 0 auto;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 0 10px 0;
  padding: 0 0;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #cccccc6c; */
  background-color: #fff;
}

.main_container {
  width: 100% - 100px;
  margin: 0 auto;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0px 0 0px 0;
  padding: 0;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}
.span {
  max-height: 30px;
  font-size: 13.5px;
  /* border: 1px solid #d4d4d4; */
  color: #030303;
  cursor: pointer;
  border-radius: 10px;
  padding: 13px 10px;
  background-color: #ececec;
  border: 3px solid #ececec;
  margin-top: 0px;
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
}
.span:hover {
  background-color: #cacacae8;
  border: 3px solid #cacacae8;
}

.active_span {
  max-height: 30px;
  font-size: 13.5px;
  font-weight: 500;
  border: 3px solid #030303;
  color: #ffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 13px 10px;
  background-color: #030303;
  margin-top: 0px;
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
}
.div_scroll {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 0, 0, 0);
}

.div_scroll_left {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0);
}
.main_container::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #fff;
  width: 0;
  display: hidden;
}

.main_container::-webkit-scrollbar {
  display: none;
}
.main_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #909090;
}
.main_container::-webkit-scrollbar-button {
  height: 0.1px;
}
.forward_outline {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -4px 8px 10px #fff;
  border-radius: 50%;
}
.forward_outline:hover {
  background-color: #d4d4d4;
}
@media screen and (max-width: 1100px) {
  .main_container {
    width: 100%;
    padding: 0;
  }
  .div_scroll_left,
  .div_scroll {
    display: none;
  }

  .container1255px,
  .container {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
}
