.wrap {
  display: none;
}
@media screen and (max-width: 900px) {
  .wrap {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    width: auto;
    height: auto;
    height: 60px;
    width: 200px;
  }
  .container_icons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    row-gap: 10px;
    padding: 10px 20px;
  }
  .container_icon,
  .container_icon_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    cursor: pointer;
    padding: 0 20px;
    column-gap: 20px;
    background-color: #e9ecfa;
    min-height: 50px;
    border-radius: 10px;

  }

  .icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;

    /* background-color: black; */
  }

  .container_icon > div {
    background-image: url("/images/upload-to-cloud.png");
  }
  .container_icon_2 > div {
    background-image: url("/images/video_icon.png");
  }

  .button > svg {
    color: #fff;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    color: #313133;
    background: #cc0000;
    border: none;
    border-radius: 50%;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
  }
  .div_container_button {
    width: auto;
    height: auto;
  }
  .button_container {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .button::before {
    content: "";
    border-radius: 50%;
    min-width: calc(40px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid #cc0000;
    box-shadow: 0 0 40px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .button:hover,
  .button:focus {
    color: #cc0000;
    /* transform: translateY(-6px); */
  }

  .button:hover::before,
  .button:focus::before {
    opacity: 1;
  }

  .button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #cc0000;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .button:hover::after,
  .button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 60px;
      height: 60px;
      opacity: 0;
    }
  }
}
