.container {
  background-color: #fbf1ec;
  width: 700px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 20px;
}
.date_div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date_div > div {
  flex-basis: 45%;
  width: 45%;
}

@media screen and (max-width: 500px) {
  .container,
  .date_div {
    width: 90%;
  }
  .date_div > div {
    flex-basis: 100%;
    width: 100%;
  }
}
