.container {
  width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
