.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 20px 0;
  /* border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  border: solid 3px #f3941e; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  padding: 20px;
  border-radius: 5px;
}
.price_details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.price_details > svg {
  font-size: 20px;
  color: #222222;
  cursor: pointer;
}
.price_details:last-of-type {
  margin-left: auto;
}
.image {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.tour_data {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
}
.rating_container {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffd938;
}

.data_container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #222222;
  column-gap: 10px;
}
.icon > svg {
  font-size: 15px;
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
