.container {
  width: 25%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 0 0px 0;
  row-gap: 5px;
  /* flex-basis: 25%; */
  width: 100%;
  margin: 0px 0px 10px 0;
  padding: 0px 10px 0px 0;
}
.container_img {
  /* height: 200px; */
  width: 100%;
  aspect-ratio: 1.5 / 1;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #fafafa;
}
.svg_container > svg {
  font-size: 30px;
  color: #222222;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 5px;
}

.svg_container > svg:hover {
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.1);
}
.container_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  row-gap: 5px;
}
.title {
  color: #222222;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}
.data_line {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.rating {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: 14px;
}
.days {
  color: #2c4777;
  font-size: 15px;
}
.rating > svg {
  font-size: 15px;
  color: #d98a28;
}
.reviews {
  color: #81acd7;
  font-size: 14px;
}
.desc {
  margin-top: 5px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.price_data {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.price {
  font-size: 15px;

  text-decoration: underline #222222;
}
.book_now {
  background-color: #ffff;
  color: #222222;
  font-size: 15px;
  min-width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  border: none;
  position: absolute;
  left: 10px;
  top: 10px;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 30%;
    min-height: 350px;
    cursor: pointer;
    margin: 0 1%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 48%;
    min-height: 350px;
    cursor: pointer;
    margin: 0 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    min-height: auto;
    cursor: pointer;
    margin: 0 1%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin-bottom: 40px;
  }
}
