.container {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: flex-start;
  border-left: 1px solid #dbdbdb;
  position: relative;
  /* background-color: red; */
  margin-left: 13px;
}
.container_last {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: flex-start;
  border-left: none;
  position: relative;
  margin-left: 13px;
}
.icon_container {
  left: -13px;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}
.icon_container > i > svg {
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  color: #fff;
}
.icon_first > svg {
  background-color: #41c4ab;
}
.icon_last > svg {
  background-color: #e74c3c;
}
.icon_tour > svg {
  background-color: #0a7bbd;
}
.title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text_container__last {
  border-bottom: none;
  margin-bottom: 20px;
}
.title_container > svg {
  font-size: 25px;
  color: #222222;
  cursor: pointer;
}
.title {
  font-size: 15px;
  text-align: start;
  font-weight: 700;
  color: #222222;
  cursor: pointer;
}
.text_container {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
.text {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  align-items: flex-start;
  padding: 0;
  margin: 10px 0 20px 0;
}
.text_hidden {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  align-items: flex-start;
  padding: 0;
  margin: 10px 0 0px 0;
  height: 10px;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .container_last {
    width: 100%;
    padding: 0 20px;
  }
}
