.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  row-gap: 0px;
  margin: 0px 0;
  row-gap: 20px;
}
.places {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.container_highlits {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.div_shadow_container {
  position: relative;
}
.div_shadow_container_bottom {
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #fff;
  top: 50%;
  box-shadow: 0px -26px 20px 19px #fff;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    row-gap: 0px;
    margin: 20px auto;
  }
}
