.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #dbdbdb; */
  border-radius: 2px;
  padding: 30px 30px;
  background-color: #fff;
  box-shadow: #00000017 0px 3px 12px;
}
.container_form {
  width: 500px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_inputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0px;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  border: 1px solid#DBDBDB;
  border-radius: 2px;
  position: relative;
  font-size: 14px;
  color: #222222;
  outline: none;
  padding: 0 10px;
}
.container_actions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.span {
  color: #222222;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-align: start;
}
.error_container {
  width: 100%;
  min-height: 10px;
  padding: 2px 0;
}
.error_message {
  line-height: 14px;
  color: #eb1f12;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: start;
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 5px;
}
.reset_password {
  line-height: 14px;
  color: #222222;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: center;
}
.opption_container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}
.reset_password_link {
  text-decoration: underline;
  margin-left: 5px;
}
.accept_terms {
  line-height: 14px;
  color: #606060;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.div_button_action {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  margin-top: 20px;
}
.button_action {
  background-color: #673de6;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.button_action_add {
  background-color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #222222;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid#DBDBDB;
}
@media screen and (max-width: 900px) {
  .container_form {
    width: 100%;
    padding: 0 20px;
  }
  .form {
    width: 100%;
  }
}
