.container {
  width: 29%;
  height: 500px;
}
.form {
  width: 100%;
  height: 100%;
  /* background-color: #fbf1ec; */
  border: 1px solid #dbdbdb;
  padding: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  row-gap: 20px;
}
.container_search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.price_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #222222;
  border-bottom: 1px solid #dfe0e2;
  padding-bottom: 20px;
}
.from {
  font-size: 18px;
}
.price {
  font-size: 22px;
  color: #222222;
}
.selected {
  width: 90%;
  font-size: 20px;
  color: #222222;
  text-align: start;
  font-weight: 700;
}

.search_button {
  background-color: #222222;
  color: white;
  font-size: 15px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  border: none;
  width: 90%;
}

.wrapper_date {
  position: relative;
  width: 90%;
  border: 1px solid #eceff1;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
}

.date_icon {
  position: absolute;
  left: 5px;
  top: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  z-index: 10;
  cursor: pointer;
}
.date_icon > svg {
  color: #222222;
  font-size: 20px;
  cursor: pointer;
}
.label_date {
  position: absolute;
  left: 0;
  top: 7px;
  background-color: transparent;
  z-index: 11;
  cursor: pointer;
}

.label_date > div > div > input {
  padding-left: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
}

.label_date > input {
  padding-left: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
}
.label_date > div {
  background-color: transparent;
}
.label_date > div > div {
  background-color: transparent;
}

.payment_container {
  width: 90%;
}
.reserve_now {
  font-size: 15px;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

.reserve_now > b {
  font-size: 14px;
  color: #222222;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0%;
  }
  .form {
    width: 90%;
    margin: 5% auto;
  }
}
@media screen and (max-width: 900px) {
  .container {
    order: 3;
  }
}
