.container {
  width: 100%;
  height: auto;
}
.path {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  color: #2c4777;
  cursor: pointer;
}
.path:hover {
  text-decoration: underline #2c4777;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    display: none;
  }
}
