.container {
  width: 68%;
}
.container_images {
  width: 100%;
  height: 500px;
  /* background-image: url("https://cdn.tourradar.com/s3/tour/1500x800/98262_aafd0b6e.jpg"); */
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.wish_list {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .wish_list {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 20px;
  }
  .container_images {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .container_images {
    height: 300px;
  }

  .wish_list {
    right: 10px;
    top: 10px;
    /* padding: 10px;
    border-radius: 20px; */
  }
}
