.container {
  width: 85%;
  margin: 0 auto;
  min-height: 600px;
}
.title {
  font-size: 28px;
  font-weight: bold;
  color: #222222;
}
.data_title_container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container_slider_and_form {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rating_date {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 0;
}
.container_review_ither {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reveiws {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 400;
  color: #2c4777;
  cursor: pointer;
  column-gap: 10px;
}
.location,
.badge {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.badge > svg {
  color: #edab56;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #d98a28;
}
.add_to_wish_list {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  color: #222222;
}
.add_to_wish_list > span {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  font-size: 13px;
  cursor: pointer;
}
.add_to_wish_list > span > svg {
  font-size: 20px;
}
.add_to_wish_list > span:hover {
  text-decoration: underline #222222;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    /* margin: 0 auto;
    min-height: 600px; */
  }
  .container_slider_and_form {
    flex-direction: column;
  }
  .rating_date {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .reveiws {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  /* clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; */
  .data_title_container {
    width: 90%;
  }
  .add_to_wish_list {
    display: none;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #222222;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 18px;
  }
  .rating_date {
    order: 1;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
}
