.singup_container {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
  margin: 0p auto;
  background-color: #222222a8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* filter: blur(1px); */
}
.div_form {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.form_sing_up {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fbf1ec;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 50px 0;
  border-radius: 20px;
  position: relative;
}
.label_iput {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form_sing_up_input {
  height: 45px;
  width: 80%;
  border: none;
  outline: none;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 13px;
  color: #666;
}
.button_sign_up,
.button_sign_up_outline {
  font-size: 14px;
  /* font-family: Helvetica Neue; */
  color: #fff;
  cursor: pointer;
  background-color: #222222;
  height: 45px;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0 10px;
}
.button_sign_up_outline {
  background-color: #f5f4f5;
  color: #222222;
  border: 1px solid #222222;
}
.div_info_singup {
  width: 75%;
  background-color: #222222;
  border-radius: 0 5px 5px 0;
  height: 392px;
}
._terms {
  color: #666;
  font-size: 13px;
  text-align: center;
  width: 80%;
  clear: both;
  display: inline;
  white-space: wrap;
}
.link_terms {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.ayes_display {
  position: absolute;
  right: 10%;
  top: 11px;
  cursor: pointer;
}

.meun {
  font-size: 40px;
  cursor: pointer;
  /* border: solid 1.5px #222222; */
  padding: 2px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
}
