@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFirstFont;
  src: url("../public/fonts/helvetica/HelveticaNeueMedium.ttf");
  /* src: url("../public/fonts/HelveticaNowDisplayXBlk.otf"); */
}
/* cosole */
html,
body {
  overflow-y: auto;
  /* font-family: myFirstFont, sans-serif; */
  font-family: myFirstFont;
}
